<a href="https://colab.research.google.com/github/Hasan9060/Online_session_Alihasan/blob/main/Code/Assignments/Online_session_assigment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[ðŸ”—Open Code in Colab](https://colab.research.google.com/drive/133BfFc43MKDusiDagROGd_y6o7ySfjjO#scrollTo=UBJJ6DYeRTdA)

Assignments 01

Class : **03** *Online Session*

Name : **Hasan Rafay**

Roll Number : **00292976**

Leader : **Ali Hasan**

In [ ]:
# Question 01 :- Create a tuple with numbers from 1 to 10 and print all even numbers.

tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
for number in tuple:
    if number % 2 == 0:
        print(number)

2
4
6
8
10

In [ ]:
# Question 02 :- Create two sets of favorite fruits. Find the common ones.

set1 = {"apple", "banana", "orange", "Mango"}
set2 = {"cherry", "graphes", "orange", "apple",}
common_fruits = set1.intersection(set2)
print(common_fruits)

{'orange', 'apple'}

In [ ]:
# Question 03 :- Make a list, perform insert, append, remove, and reverse operations on it.

list=[1,2,3,4,5]
list.insert(2,8)
print(list)

list=[1,2,3,4,5]
list.append(6)
print(list)

list=[1,2,3,4,5]
list.remove(3)
print(list)

list=[1,2,3,4,5]
list.reverse()
print(list)

[1, 2, 8, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5]
[5, 4, 3, 2, 1]